.darkMode{
  background-color: black;
  color: white;
  height: 100%;
}

.card-productos{
  margin: 4px;
  justify-content: center;
}

.card-producto{
  width: 18rem;
  margin: 4px;
}

.card-Body, .precio-cards{
  text-align: center;
}

.card-dark{
  background-color: gray;
  text-align: center;
}

.div-boton-cards{
  border-top: 1px dashed black;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 10px;
}

.cart-container {
  margin-top: 3%;
  margin-left: 26,5%;
}

.div-button {
  margin: 4px;
}

.card-cart{
  max-width: 340px;
}